<div class="contextual">
 <%= link_to l(:label_product_new),new_project_product_path(@project), :class => 'icon icon-add new-issue' %>
 </div>
 <h2><%=l(:project_module_products)%></h2>

<p><%= render :partial => 'list', :locals => {:products => @products} %></p>





